.logo{
    width: 270px;
    height: 60px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.centralizar{
    text-align-last: center;
}

*{
    font-family: Verdana;
}

.rotuloAzul{
    background-color:cornflowerblue; text-align: center;
}

h1{
    
    color: blueviolet;
}
#sMais1, #sMais2, #sMais3, #sMais4, #sMais5, #sMais6, #sMais7 {
    width: 20px;
    height: 20px;
    display: none;
}
.sMenos{
    width: 20px;
    height: 20px;
}
 .oculto{
    border: none; width: 188px; background-color: white;
 }
#sMais1:hover, #sMais2:hover, #sMais3:hover, #sMais4:hover, #sMais5:hover, #sMais6:hover, #sMais7:hover{
    cursor: pointer;
}

#ribsTd:hover img, #QdxTd:hover img, #cttPenTd:hover img, #rushTd:hover img, #bagsTd:hover img, #bdosTd:hover img, #ahlsTd:hover img{
    display: inline;
}

.dpr, .ahlOhd{
    width: 60px;
}

input,select,textarea{
    border-radius: 4px;
    padding: 5px;
    border-width: 1px;
}
fieldset{
    width: 1365px; margin: 0 auto; border-radius: 10px; background-color: white; box-shadow: 2px 2px 8px gray;
}

.qdx{
    width: 35px;
}

.cttPen, .bdos, .ahls{
    width: 90px;
}

.bags{
    width: 75px;
}

#checklist{
    width: 540px;
}
h3{
    text-align: center; color: whitesmoke; width: 535px;
}

.qtdCk{
    width: 65px;
}

#qtd00, #qtd5, #qtd{
    font-weight: bold; font-style: italic; font-size: 12pt; text-align: center; border-color: transparent;
}
#qtd2,#qtd2Corrig,#qtd3,#qtd3Corrig,#qtd4,#qtd4Corrig,#qtd6,#qtd6Corrig,#qtd7,#qtd7Corrig,#qtd8,#qtd8Corrig,#qtd9,#qtd9Corrig,#qtd10,#qtd10Corrig,#qtdCorrig{
    text-align: center; border-color: transparent;
}
#qtd11{
    border-color: transparent;
}
p{
    text-align: center;
}
.sMenos:hover{
    cursor: pointer;
}

.fadeOut{
	opacity: 0.5;
	transition: 0.5s;
}

#enviar{
    width: 150px;
    padding: 1rem;
    background-color: cornflowerblue;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#enviar:hover{
    
    background-color: blue;
}

#enviar:active{
    margin-top:1px;
}

#enviar[disabled=disabled], #enviar:disabled {
    background-color: cornflowerblue;
    cursor: auto;
}